:root {
  --primary: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--grey-900);

  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.profile {
  background-color: var(--grey-800);
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 3rem;
  width: 400px;
  max-width: 400px;
  justify-self: center;
}

.profile__content {
}

.author {
  text-align: center;
}

.author__avatar {
  border-radius: 50%;
  width: 25%;
  margin-bottom: 1.5rem;
}

.author__name {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.author__location {
  color: var(--primary);
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.author__description {
  color: var(--white);
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links__item {
}

.link:link,
.link:visited {
  background-color: var(--grey-700);
  display: block;
  border-radius: 7px;
  text-decoration: none;
  color: var(--white);
  text-align: center;
  padding: 0.7rem 0;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  background-color: var(--primary);
  color: var(--grey-700);
}

@media (max-width: 550px) {
  .profile {
    max-width: 310px;
  }

  .attribution a {
    font-size: 0.7rem;
  }
}
